@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h1>Student Details</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        Student Name
      </th>
      <th>
        Assigned Course
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        @Html.DisplayFor(model => model.Name)
      </td>
      <td>
        "..courses"
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.StudentId })
      </td>
    </tr>
  </tbody>
</table>