@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Department

<h4>Add a new Department</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.DepartmentName)
  @Html.TextBoxFor(model => model.DepartmentName)

  <input type="submit" value="Add new Department"/>
}
<hr />
<p>@Html.ActionLink("Show all departments", "Index")</p>